# OS Generated
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Environments
venv/
.venv/
env/
.env/
.env
sensitive-mysql.env
pyvenv.cfg

# Python
__pycache__/
*.py[cod]

# Editors
.idea/
.vscode/

# Vagrant
.vagrant/
*.log
