# OS Generated
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Environments
venv/
.venv/
env/
.env/
.env
sensitive-mysql.env
pyvenv.cfg

# Python
__pycache__/
*.py[cod]

# Editors
.idea/
.vscode/

# Vagrant
.vagrant/
*.log

# Terraform
.Terraform*
# Considering that we store tfstate on S3, next ignore is redundant, but just in case
*.tfstate*
passwords.json
access_key*