[Unit]
Description=Consul Template
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/consul-template \
    -consul-addr=192.168.56.100:8500 \
    -template="/etc/consul-template/load-balancer.conf.ctmpl:/etc/nginx/conf.d/loadbalancer.conf:systemctl reload nginx"
Restart=on-failure
RestartSec=10
StartLimitIntervalSec=60
StartLimitBurst=5

[Install]
WantedBy=multi-user.target