[Unit]
Description=Birdwatching
After=network.target

[Service]
User=jenkins
Group=jenkins
WorkingDirectory=/home/jenkins/application/web-servers/
ExecStart=/home/jenkins/application/web-servers/venv/bin/python3 /home/jenkins/application/web-servers/app.py
Restart=always
StandardOutput=syslog
StandardError=syslog
AmbientCapabilities=CAP_NET_BIND_SERVICE
[Install]
WantedBy=multi-user.target