[Unit]
Description=Birdwatching
After=network.target

[Service]
ExecStart=/home/jenkins/application/web-servers/venv/bin/gunicorn --workers 2 --bind 127.0.0.1:80 run:app
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
